

body{
    margin-top: 0%;
    padding: 0%;
}
.container-fluid{
    background-color:rgb(4, 79, 191);
    color:white;
    padding:0;
    margin-top:0%;
    height:728px;
}
.container-box{
    display:flex;
    justify-content:space-between;
    font-size:1.5rem;
}
.box1{
    padding:150px;
}
.button{
    margin-top: 100px;
}
.btn{
    background-color:beige;
    border-radius: 18px;
    padding:2%;
    font-size:1.5rem;
}
.btn1{
    background-color:rgb(4, 79, 191);
   color:white;
    border-radius: 18px;
    padding:2%;
    border-color: white;
    font-size:1.5rem;
}
.section{
    display:flex;
    justify-content:space-between;
}
.words{
    padding: 180px;
}
.venus{
    font-size:1.5rem;
}
.footer{
    background-color:blue;
    color:white;
    margin-bottom: 0%;
}
