<div class="container-fluid">
    <div class="container-box">
        <div class="box1">
          <h1>Increased efficiency in your study work<br>
          It is important, you better flashcard it.</h1> 
          <p class="p1">A simple, secure and reliable way of keeping of what is important in flashcard. </p>
          <div class="button">
            <button class="btn">Make A flash Card </button>
            <button class="btn1">Learn More</button>
          </div>
        </div>
        <div class="box">
         <img src="./../../assets/images/image1.jpg" alt="images"  style="height:500px;width:500px; padding:150px;">
        </div>
    </div>
</div>
<div class="section">
    <div class="image">
    <img src="./../../assets/images/images2.jpeg" alt="" style="height:500px;width:500px; padding:150px;">
    </div>
    <div class="words">
    <h1>Increased efficiency in <br>your study work  </h1>
    <p class="venus">People capture memories using pictures and videos. Important notes and<br> facts are what make up memories for students. Reliable, accurate and <br> complete flashcards provide the perfect grounds for students to write <br> down important points while studying. These come in handy while they<br> are revising for examinations or tests.</p>
    </div>
</div>

     

