<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
<nav class="navbar navbar-expand-lg">
    <a class="nav-item nav-link active">Ultimate Academy</a>
    <!-- search bar -->
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control btn-sm" type="text" placeholder="Search" aria-label="Search">
      </div>
      <button href="#!" class="btn btn-outline-white text-primary btn-md btn-sm my-0 ml-sm-2" type="submit">Search</button>
    </form>
    <!-- end search -->
        <a class="nav-item nav-link active">Home<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link">Class</a>
        <a class="nav-item nav-link">Our Activities</a>
        <a class="nav-item nav-link">Contact us</a>
        <button class="nav-item nav-link btn btn-sm btn-link">Login</button>
        <button class="nav-item nav-link btn btn-sm btn-link">Sign Up</button>
    </nav>
